<footer>
  <ng-container *ngIf="!editing; else editingForm">
      <h3 (click)="editing = !editing">{{playground.name}} <i class="fa fa-edit fa-lg"></i></h3>
      <p>{{playground.description}}</p>
      <p>{{playground.addressDescription}}</p>
  </ng-container>
  <ng-template #editingForm>
    <div style="width: 50vw;">
      <app-playground-control [formControl]="playgroundControl"></app-playground-control>
      <div class="pull-right"><button class="btn btn-primary">Opdater</button></div>
    </div>
  </ng-template>
</footer>